<div class="row">
  <div class="col-xs-12">
    <ul class="list-group list-unstyled">
      <li class="list-group-item">Description</li>
      <li
        *ngIf="(smState$ | async).place.name != null"
        class="list-group-item clearfix list-group-item-info">
        <u class="description--label">Name</u>: 
        <div class="description--value">{{ (smState$ | async).place.name }}</div>
      </li>
      <li
        *ngIf="(smState$ | async).place.lat != null"
        class="list-group-item clearfix list-group-item-info">
        <div class="list-group-item-text">
          <u class="description--label">Latitude</u>: 
          <div class="description--value">{{ (smState$ | async).place.lat | number: '1.0-8' }}</div>
        </div>
      </li>
      <li
      *ngIf="(smState$ | async).place.lng != null"
        class="list-group-item clearfix list-group-item-info">
        <div class="list-group-item-text">
          <u class="description--label">Longitude</u>: 
          <div class="description--value">{{ (smState$ | async).place.lng | number: '1.0-8' }}</div>
        </div>
      </li>
      <li
        *ngIf="(smState$ | async).place.phoneNumber != null"
        class="list-group-item clearfix list-group-item-info">
        <div class="list-group-item-text">
          <u class="description--label">Phone</u>: 
          <div class="description--value">{{ (smState$ | async).place.phoneNumber }}</div>
        </div>
      </li>
      <li
        *ngIf="(smState$ | async).place
          && (smState$ | async).place.icon"
        class="list-group-item clearfix list-group-item-info">
        <u>Icon</u>:
        <img
          [src]="(smState$ | async).place.icon"
          style="max-height: 42px;max-width: 42px;"
          class="img-responsive"/>
      </li>
      <li
        *ngIf="(smState$ | async).place.types != null"
        class="list-group-item clearfix list-group-item-info">
        <span class="list-group-item-text">
          <u class="description--label">Types</u>:
          <ul class="list-inline">
            <li *ngFor="let type of (smState$ | async).place.types">
              <div class="description--value">{{ type }}</div>
            </li>
          </ul>
        </span>
      </li>
      <li
        *ngIf="(smState$ | async).place.vicinity != null"
        class="list-group-item clearfix list-group-item-info">
        <div class="list-group-item-text">
          <u class="description--label">Vicinity</u>: 
          <div class="description--value">{{ (smState$ | async).place.vicinity }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
