<div class="col-xs-12 col-sm-10 col-md-8 form-group">
  <select
    (change)="placeChange($event)"
    class="form-control col-xs-12 col-sm-10 col-md-8"
    size="10">
      <option
        selected="true"
        value="-2">
      </option>
      <option
        class="currentPlaceO"
        value="-1">
        Current place
      </option>
      <option
        *ngFor="let oldPlace of (smState$ | async).oldPlaces;
          let i = index"
        [value]="i">
        {{ oldPlace.name }}
      </option>
  </select>
</div>