<div class="row well well-lg">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onResetPassword(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" ngModel
          id="email" name="email" placeholder="Enter your email"
          email required
        />
      </div>
      <button type="submit" class="btn btn-primary"
        [disabled]="!f.valid">Reset password</button>
    </form>
  </div>
</div>
